---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>What's this?</h2>
    <p>
        A community of sites around indie ttrpg and larp! Also known as a <a href="https://en.wikipedia.org/wiki/Webring">webring</a>. 
        Each member includes a badge on their site that links to the previous and next sites in the ring. 
        Kids in the 90s used to love it!
    </p>

    <h2>How to join!</h2>
    <ol>
        <li>Read our <a href="/code-of-conduct">Code of Conduct</a>
        </li>
        <li>Add your site using the form below. <em>The webring admins will then look at your site and handle your request</em>.</li>
        <li>Add the webring links to your website (see <strong>Add The Banner</strong> below). <em>I'm trusting everyone will add the webring links to their site. You don't want to break the ring! I will review sites after a week or so and bug you if you have not yet added the links.</em>
        </li>
    </ol>

    <p>* alternately if know your way around Github, you can <a href="{{ meta.repo }}/compare">open a pull request</a>.
    </p>

    {% include 'signupform.njk' %}

    <h2>Add the banner</h2>
    <script async src="/embed.js" charset="utf-8"></script>
    <p>
        Once you've joined the ring, embed the web component banner using the code shown below or build it yourself with html.
    </p>

    <h3>Large Banner</h3>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <div class="my-sm">
        <webring-banner></webring-banner>
    </div>

    <h3>Small Banner</h3>

    {% highlight 'html' %}{% include 'snippet-small.njk' %}{% endhighlight %}

    <div class="my-sm">
        <webring-banner-small></webring-banner-small>
    </div>

    <h3>Styling The Banner Component</h3>
    <p>The banner is a web component can be styled using css variables and by targeting parts. See <a href="https://css-tricks.com/styling-web-components/">CSS-Tricks Styling Web Components</a> for info on this.</p>
    <ul>
        <li>The banner wrapper — including background color, border, shadow, max-width — can be styled just by using the element name (i.e., <em>webring-banner</em> or <em>webring-banner-small</em>)</li>
        <li>Using css variables: <em>--wr-link; --wr-hover: #2b16ff; --wr-border: 1px solid #DDD;</em>
        </li>
        <li>Targeting the parts: <em>image, desc, prefix, title, members, info, prev, random, next</em>
        </li>
    </ul>

    <h3>Build Your Own HTML</h3>
    <p>You can also just include the image, title, and links without the web component and style it yourself.</p>
    {% highlight 'html' %}{% include 'snippet-html.njk' %}{% endhighlight %}

    <h2>Credits</h2>
    <p>
        This site is a fork of the <a href="https://github.com/maxboeck/webring">Webring Starter Kit</a>. If you want to start your own webring, you can fork mine or the original and follow the instructions in the README.
    </p>
</div>